<h2>Authors</h2>

<form (ngSubmit)="addAuthor()" class="form">
  <input [(ngModel)]="newAuthor.name" name="name" placeholder="Name" required>
  <input [(ngModel)]="newAuthor.date_of_birth" name="dob" placeholder="Date of Birth" required>
  <input [(ngModel)]="newAuthor.nationality" name="nationality" placeholder="Nationality" required>
  <button type="submit">Add Author</button>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Nationality</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of authors; let i = index ">
      <td>{{a.id}}</td>
      <td><input [(ngModel)]="a.name"></td>
      <td><input [(ngModel)]="a.date_of_birth"></td>
      <td><input [(ngModel)]="a.nationality"></td>
      <td>
    <tr>
      <td><button (click)="updateAuthor(a)">Update</button></td>
      <td><button (click)="deleteAuthor(a.id!)">Delete</button></td>
    </tr>
    </td>
    </tr>
  </tbody>
</table>